@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400&subset=latin-ext');
.App{
  background-color: white;
  -webkit-box-shadow: 0px 8px 10px -1px rgba(99,99,99,.5);
  -moz-box-shadow: 0px 8px 10px -1px rgba(99,99,99,.5);
  box-shadow: 0px 8px 10px -1px rgba(99,99,99,.5);
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  min-width: 367px;
  padding: 25px;
}